<script lang="ts">
  import { Content } from 'carbon-components-svelte';

  import HotfixHelper from '../../lib/components/hotfixhelper/component/HotfixHelper.svelte';
</script>

<svelte:head>
  <title>Hotfix Helper</title>
</svelte:head>

<Content>
  <HotfixHelper />
</Content>
