<script context="module" lang="ts">
  export const prerender = true;
</script>

<script lang="ts">
  import { Column, AspectRatio, ClickableTile } from 'carbon-components-svelte';
  export let mainTile = false;
</script>

<Column sm={4} md={8} lg={8}>
  <div class="margin-bottom">
    <AspectRatio ratio="2x1">
      <ClickableTile
        class={mainTile ? 'margin-aware-height main-tile' : 'margin-aware-height'}
        {...$$restProps}
      >
        <slot />
      </ClickableTile>
    </AspectRatio>
  </div>
</Column>

<style lang="scss">
  @use '@carbon/layout';

  .margin-bottom {
    margin-bottom: 16px;
  }

  :global(.margin-aware-height) {
    height: calc(100% - 16px);
  }

  :global(.main-tile) {
    background: rgb(31, 8, 122);
    background: linear-gradient(137deg, rgb(66, 20, 250) 0%, rgb(31, 8, 122) 100%);
  }
</style>
