<script context="module" lang="ts">
  export const prerender = true;
</script>

<script lang="ts">
  import { Column, AspectRatio, ClickableTile } from 'carbon-components-svelte';
</script>

<Column sm={2} md={4} lg={4}>
  <div class="margin-bottom">
    <AspectRatio ratio="9x16">
      <ClickableTile style="height: 100%" {...$$restProps}>
        <slot />
      </ClickableTile>
    </AspectRatio>
  </div>
</Column>

<style lang="scss">
  @use '@carbon/layout';

  .margin-bottom {
    margin-bottom: 16px;
  }
</style>
