<script lang="ts">
  import 'carbon-components-svelte/css/all.css';
  import '../app.css';
  import { page } from '$app/stores';

  import {
    Header,
    HeaderNav,
    HeaderNavItem,
    SideNav,
    SideNavItems,
    SideNavLink,
    SkipToContent,
    Theme,
    HeaderPanelLink,
    HeaderUtilities,
    HeaderAction,
    HeaderPanelLinks,
    HeaderPanelDivider,
  } from 'carbon-components-svelte';
  import { SettingsAdjust, Help, Home, ListBulleted, Network_3, Debug } from 'carbon-icons-svelte';
  let isSideNavOpen = false;
</script>

<Theme theme="g90" persist persistKey="__carbon-theme" />

<Header bind:isSideNavOpen company="COREP" href="/">
  <svelte:fragment slot="skip-to-content">
    <SkipToContent />
  </svelte:fragment>
  <img alt="Genesis" slot="platform" src="/Genesis_white.svg" class="platform" />

  <HeaderNav>
    <HeaderNavItem
      href="/"
      text="Dashboard"
      isSelected={$page.url.pathname === '/'}
      aria-current={$page.url.pathname === '/' ? 'page' : undefined}
    />
    <HeaderNavItem
      href="/stages"
      text="Stages"
      isSelected={$page.url.pathname === '/'}
      aria-current={$page.url.pathname === '/stages' ? 'page' : undefined}
    />
    <HeaderNavItem
      href="/issues"
      text="Issues"
      isSelected={$page.url.pathname === '/issues'}
      aria-current={$page.url.pathname === '/issues' ? 'page' : undefined}
    />
    <HeaderNavItem
      href="/incidents"
      text="Incidents"
      isSelected={$page.url.pathname === '/incidents'}
      aria-current={$page.url.pathname === '/incidents' ? 'page' : undefined}
    />
    <HeaderNavItem
      href="/settings"
      text="Settings"
      isSelected={$page.url.pathname === '/settings'}
      aria-current={$page.url.pathname === '/settings' ? 'page' : undefined}
    />
  </HeaderNav>
  <HeaderUtilities>
    <HeaderAction icon={Help}>
      <HeaderPanelLinks>
        <HeaderPanelDivider>Get Help</HeaderPanelDivider>
        <HeaderPanelLink href="kb">Knowledge Base</HeaderPanelLink>
        <HeaderPanelLink href="faq">FAQ</HeaderPanelLink>
        <HeaderPanelLink href="teams-channel">Contact service</HeaderPanelLink>
      </HeaderPanelLinks>
    </HeaderAction>
  </HeaderUtilities>

  <SideNav bind:isOpen={isSideNavOpen} rail>
    <SideNavItems>
      <SideNavLink
        icon={Home}
        href="/"
        text="Dashboard"
        isSelected={$page.url.pathname === '/'}
        aria-current={$page.url.pathname === '/' ? 'page' : undefined}
      />
      <SideNavLink
        icon={Network_3}
        href="/stages"
        text="Stages"
        isSelected={$page.url.pathname === '/stages'}
        aria-current={$page.url.pathname === '/stages' ? 'page' : undefined}
      />
      <SideNavLink
        icon={ListBulleted}
        href="/issues"
        text="Issues"
        isSelected={$page.url.pathname === '/issues'}
        aria-current={$page.url.pathname === '/issues' ? 'page' : undefined}
      />
      <SideNavLink
        icon={ListBulleted}
        href="/incidents"
        text="Incidents"
        isSelected={$page.url.pathname === '/incidents'}
        aria-current={$page.url.pathname === '/incidents' ? 'page' : undefined}
      />
      <SideNavLink
        icon={Debug}
        href="/hotfix"
        text="Hotfix Helper"
        isSelected={$page.url.pathname === '/hotfix'}
        aria-current={$page.url.pathname === '/hotfix' ? 'page' : undefined}
      />
      <SideNavLink
        icon={SettingsAdjust}
        href="/settings"
        text="Settings"
        isSelected={$page.url.pathname === '/settings'}
        aria-current={$page.url.pathname === '/settings' ? 'page' : undefined}
      />
    </SideNavItems>
  </SideNav>
</Header>

<slot />

<style>
  .platform {
    margin-left: 1em;
    width: 10em;
  }
</style>
