<script lang="ts">
  import SquareTile from '../lib/composables/SquareTile.svelte';

  import { Content, Grid, Row, Column, Theme } from 'carbon-components-svelte';

  import EstateTile from '$lib/composables/EstateTile.svelte';
  import BugVirusMalware from 'carbon-pictograms-svelte/lib/BugVirusMalware.svelte';
  import ListBullet from 'carbon-pictograms-svelte/lib/ListBullet.svelte';
  import Networking_03 from 'carbon-pictograms-svelte/lib/Networking_03.svelte';
  import type { CarbonTheme } from 'carbon-components-svelte/types/Theme/Theme.svelte';

  let theme: CarbonTheme;
</script>

<svelte:head>
  <title>Dashboard</title>
</svelte:head>

<Theme bind:theme persist persistKey="__carbon-theme" />
<Content>
  <Grid>
    <Row>
      <Column>
        {#if theme == 'white' || theme == 'g10'}
          <img alt="Genesis Logo" src="/Genesis.svg" class="logo" />
        {:else}
          <img alt="Genesis Logo" src="/Genesis_white.svg" class="logo" />
        {/if}
      </Column>
    </Row>
    <Row>
      <EstateTile href="/" mainTile={true}>
        <div class="full-tile">
          <h2>12 open incidents</h2>
          <h4><a class="quick-link" href="/">Resolve now</a></h4>
        </div>
        <BugVirusMalware class="tile-icon" />
      </EstateTile>
      <SquareTile href="/issues">
        <h2>Issues</h2>
        <ListBullet class="tile-icon-main" />
      </SquareTile>
      <SquareTile href="/stages">
        <h2>Stages</h2>
        <Networking_03 class="tile-icon-main" />
      </SquareTile>
      <EstateTile>
        <h2><i>Place fun layercake graph here :)</i></h2>
      </EstateTile>
      <EstateTile />
      <SquareTile />
    </Row>
  </Grid>
</Content>

<style lang="scss">
  @use '@carbon/layout';

  .logo {
    margin-bottom: layout.$fluid-spacing-02;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display: block;
  }
  .full-tile {
    position: relative;
    height: 100%;
    h2 {
      color: white;
    }
  }

  :global(.tile-icon) {
    position: absolute;
    height: 55%;
    width: auto;
    right: 1rem;
    top: 45%;
    transform: translateY(-50%);
    vertical-align: middle;
    color: white;
  }
  :global(.tile-icon-main) {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: auto;
    vertical-align: middle;
  }
  @media only screen and (max-width: 672px) {
    :global(.tile-icon) {
      display: none;
    }
  }

  @media only screen and (max-width: 1056px) {
    .logo {
      display: none;
    }
  }
  .quick-link {
    position: absolute;
    bottom: 0px;
    color: white;
  }
</style>
