<script lang="ts">
  import { Content, Grid, Row, Column } from 'carbon-components-svelte';
</script>

<svelte:head>
  <title>Issues</title>
</svelte:head>

<Content>
  <Grid>
    <Row>
      <Column>
        <h1>Issues</h1>
      </Column>
    </Row>
  </Grid>
</Content>
