<script context="module" lang="ts">
  import { fetchAllStages } from '../logic/stages-client';
  import {
    Content,
    Grid,
    Row,
    Column,
    DataTable,
    DataTableSkeleton,
    InlineNotification,
    Toolbar,
    ToolbarContent,
    ToolbarSearch,
  } from 'carbon-components-svelte';
  import { Stage } from '../model/Stage';
  import type { DataTableRow } from 'carbon-components-svelte/types/DataTable/DataTable.svelte';

  const stageNameMap = new Map<string, string>(Object.entries(Stage));
  // console.log('stages:', stageNameMap);

  const stageHeader = [...stageNameMap.entries()].map((it) => {
    return { key: it[1], value: it[0] };
  });

  const headers = [
    { key: 'container', value: 'Container' },
    // { key: 'bc', value: 'BC' },
    ...stageHeader,
  ];
  // console.log('headers', headers);
  const allStagesPromise = fetchAllStages({}).then((response) => {
    const containerMap = new Map<string, object>();

    console.log('response', response.data);
    try {
      response.data.forEach((stage) => {
        return stage.container.forEach((container) => {
          if (!containerMap.has(container.name)) {
            containerMap.set(container.name, { id: container.name, container: container.name });
          }
          containerMap.get(container.name)[stage.name] = container.version;
        });
      });
    } catch (e) {
      console.error(e);
    }
    // console.log('containerMap', containerMap);
    return [...containerMap.values()] as DataTableRow[];
  });
</script>

<Content>
  <Grid fullWidth>
    <Row>
      <Column>
        {#await allStagesPromise}
          <!-- promise is pending -->
          <DataTableSkeleton
            showHeader={true}
            showToolbar={true}
            headers={['Container', ...stageNameMap.keys()]}
            rows={8}
            size="tall"
          />
        {:then value}
          <DataTable
            title="Container deployment"
            description="Container versions on each of the CI/CD stages"
            {headers}
            rows={value}
            size="tall"
          >
            <Toolbar>
              <ToolbarContent>
                <ToolbarSearch persistent shouldFilterRows />
              </ToolbarContent>
            </Toolbar>
          </DataTable>
        {:catch error}
          <!-- promise was rejected -->
          <InlineNotification
            hideCloseButton
            title="Error:"
            subtitle="Something went wrong fetching containers: {error.status} - {error.message}"
          />
        {/await}
      </Column>
    </Row>
  </Grid>
</Content>
