<script context="module" lang="ts">
  import { fetchAllIncidents } from '../logic/incident-client';
  import {
    Content,
    Grid,
    Row,
    Column,
    DataTable,
    DataTableSkeleton,
    InlineNotification,
    Toolbar,
    ToolbarContent,
    ToolbarSearch,
  } from 'carbon-components-svelte';

  import type { DataTableRow } from 'carbon-components-svelte/types/DataTable/DataTable.svelte';

  const headers = [
    // { key: 'id', value: 'id' },
    { key: 'incidentTimestamp', value: 'Timestamp' },
    { key: 'activityId', value: 'Step' },
    { key: 'processInstanceId', value: 'ProcessInstanceId' },
    // { key: 'processDefinitionId', value: 'ProcessDefinitionId' },
    { key: 'rootCauseIncidentActivityId', value: 'Task' },
    // { key: 'rootCauseIncidentConfiguration', value: 'rootCauseIncidentConfiguration' },
    { key: 'rootCauseIncidentMessage', value: 'Incident' },
  ];
  // console.log('headers', headers);
  const allIncidentsPromise = fetchAllIncidents({}).then((response) => {
    // .forEach((incident) => {
    //   return stage.container.forEach((container) => {
    //     if (!containerMap.has(container.name)) {
    //       containerMap.set(container.name, { id: container.name, container: container.name });
    //     }
    //     containerMap.get(container.name)[stage.name] = container.version;
    //   });
    // });
    console.log('response', response);
    return response.data as DataTableRow[];
  });
</script>

<Content>
  <Grid fullWidth>
    <Row>
      <Column>
        {#await allIncidentsPromise}
          <!-- promise is pending -->
          <DataTableSkeleton
            showHeader={false}
            showToolbar={false}
            {headers}
            rows={8}
            size="tall"
          />
        {:then value}
          <DataTable
            title="Container deployment"
            description="Container versions on each of the CI/CD stages"
            {headers}
            rows={value}
            size="tall"
          >
            <Toolbar>
              <ToolbarContent>
                <ToolbarSearch persistent shouldFilterRows />
              </ToolbarContent>
            </Toolbar>
          </DataTable>
        {:catch error}
          <!-- promise was rejected -->
          <InlineNotification
            hideCloseButton
            title="Error:"
            subtitle="Something went wrong fetching containers: {error.status} - {error.message}"
          />
        {/await}
      </Column>
    </Row>
  </Grid>
</Content>
