:root[theme='g10'] {
  --cds-interactive-01: #0062ff;
  --cds-interactive-02: #171717;
  --cds-interactive-03: #0062ff;
  --cds-interactive-04: #0062ff;
  --cds-ui-background: #ffffff;
  --cds-ui-01: #f3f3f3;
  --cds-ui-02: #ffffff;
  --cds-ui-03: #dcdcdc;
  --cds-ui-04: #8c8c8c;
  --cds-ui-05: #171717;
  --cds-text-01: teal-700;
  --cds-text-02: #565656;
  --cds-text-03: #8c8c8c;
  --cds-text-04: #ffffff;
  --cds-icon-01: #171717;
  --cds-icon-02: #565656;
  --cds-icon-03: #ffffff;
  --cds-link-01: #0062ff;
  --cds-link-02: #0043ce;
  --cds-field-01: #f3f3f3;
  --cds-field-02: #ffffff;
  --cds-inverse-01: #ffffff;
  --cds-inverse-02: #3d3d3d;
  --cds-support-01: #da1e28;
  --cds-support-02: #24a148;
  --cds-support-03: #fdd13a;
  --cds-support-04: #054ada;
  --cds-inverse-support-01: #fb4b53;
  --cds-inverse-support-02: #3dbb61;
  --cds-inverse-support-03: #fdd13a;
  --cds-inverse-support-04: #408bfc;
  --cds-overlay-01: rgba(23; 23; 23; 0.5);
  --cds-focus: #0062ff;
  --cds-hover-primary: #0353e9;
  --cds-active-primary: #0530ad;
  --cds-hover-primary-text: #054ada;
  --cds-hover-secondary: #4c4c4c;
  --cds-active-secondary: #6f6f6f;
  --cds-hover-tertiary: #0353e9;
  --cds-active-tertiary: #0530ad;
  --cds-hover-ui: #e5e5e5;
  --cds-active-ui: #bebebe;
  --cds-selected-ui: #dcdcdc;
  --cds-hover-selected-ui: #cacaca;
  --cds-hover-danger: #ba1b23;
  --cds-active-danger: #750e13;
  --cds-hover-row: #e5e5e5;
  --cds-visited-link: #8a3ffc;
  --cds-disabled-01: #f3f3f3;
  --cds-disabled-02: #bebebe;
  --cds-disabled-03: #8c8c8c;
  --cds-highlight: #c9deff;
  --cds-skeleton-01: #e5e5e5;
  --cds-skeleton-02: #bebebe;
  --cds-brand-01: #0062ff;
  --cds-brand-02: #171717;
  --cds-brand-03: #0062ff;
  --cds-active-01: #bebebe;
  --cds-hover-field: #e5e5e5;
}
