<script context="module" lang="ts">
  import { Column, Content, Grid, Row, Theme } from 'carbon-components-svelte';
</script>

<Content>
  <Grid>
    <Row>
      <Column>
        <h1>Settings</h1>
      </Column>
    </Row>
    <Row>
      <Column padding>
        <Theme render="select" theme="g90" persist persistKey="__carbon-theme" />
      </Column>
    </Row>
  </Grid>
</Content>
