<script context="module">
  import { browser, dev } from '$app/env';

  // // we don't need any JS on this page, though we'll load
  // // it in dev so that we get hot module replacement...
  export const hydrate = dev;

  // // ...but if the client-side router is already loaded
  // // (i.e. we came here from elsewhere in the app), use it
  export const router = browser;
</script>

<svelte:head>
  <title>About</title>
</svelte:head>

<div class="content">
  <h1>About this app</h1>

  <p>
    This is a <a href="https://kit.svelte.dev">SvelteKit</a> app.
  </p>
</div>

<style>
  .content {
    width: 100%;
    max-width: var(--column-width);
    margin: var(--column-margin-top) auto 0 auto;
  }
</style>
